@font-face {
    font-family: ProximaNovaReg;
    src: url("../fonts/ProximaNova-Regular.otf") format("opentype");

}

header {
    z-index: 1;
    transition : 0.5s;
    font-family : ProximaNovaReg;
    letter-spacing : 1.2px;
    font-weight: 700;
}
hr {
    border: none;
    height: 3px;
    width: 80px;
    background-color: black;

}


hr.grayscale {

    background-color: #9CAFC3;

}

body {
    color: #516880;
    font-family: ProximaNovaReg;
}


.navbar {
    max-height : 65px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    position: relative;
    text-decoration: none;

}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
.navbar-default .navbar-nav>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



.navbar-default .navbar-nav>li>div>button {
    color: whitesmoke;
}
.navbar-default {

    background-color: transparent;
    border-color: transparent;
}
.navbar-brand {
    height: auto;
}
#top-nav-collapse {
    padding-top: 10px;
}
.is-sticky header>nav>ul>#top-nav-collapse {
    padding-top : 10px;
}
.is-sticky header{
    background-color : #333333;
    transition : .5s;
}
#navbar-logo {
    transition: .5s;
}






.wrapper {
    /* z-index: 1; */

    width: 100%;
    position: absolute;
    top: 0;

    bottom:0;
    background: rgba(52, 52, 54, 0.9);

    padding-top: 0;

}
.row {
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.section-card
{
    text-align:center;
    padding:0px 0;
}



button#nav-sign-up {
    display: inline-block;
    text-decoration: none;
    border: 2px solid whitesmoke;

    height: 15px;
    width: 65px;
    line-height: 36px;
    color: whitesmoke;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    text-align: center;
    padding: .1em 1.5em 1.4em 1.5em;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: transparent;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    -webkit-backface-visibility: hidden;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
button#nav-sign-up:hover {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: whitesmoke;
    font-weight: 700;
    color: #444444;
    font-weight: 700;
}
.ghost-btn:focus {
    outline: none;
}

#owl-demo .item img {
    display:block;
    width: 100%;
    height: auto;
}

.tint {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,.4) 3px 5px 5px;
    height: 100vh;
    width:100%;

}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(52, 52, 54, 0.2);
    transition: all .3s linear;
}

.owl-controls {
    margin-top:-65px;
    z-index: 1000;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left:-45px;
    top: 55px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
    right:-45px;
    top: 55px;
}


.muvr-banner {
                  /* <------ */
    background: url(../images/muvr-banner.jpg) no-repeat fixed center center;
    height: 100vh;
    background-size:   cover;
    /*width:100%;

    position:relative;
    height:100vh;*/

}
.shoppr-banner {
    /* <------ */
    /*background: url(../images/shoppr-banner.jpg) no-repeat fixed center center;*/
    height: 100vh;
    background-size : cover;
    /*width:100%;

    position:relative;
    height:100vh;*/

}

#section-overview {
    background : whitesmoke;
    height: 1200px;
    text-align : center;
    padding-top: 65px;
}

.overview-card {
    margin-top:20px;
    background:transparent;
    border-style: solid;
    border-color: #ddd;
    border-width:thin;
    width:100%;
    height:250px;
    display:block;
    padding:20px;
    font-family: ProximaNovaReg;
    font-weight: 900        ;
    letter-spacing : 1px;

}
.about-text {
    margin:-15px auto 0px auto;
}

.navbar-toggle {
    margin-top: 25px;
}

#banner-carousel h1{
    margin-bottom: -15px;
    font-size: 3.5em;
}

button#view-muvrs {
    display: inline-block;
    text-decoration: none;
    font-weight:900;
    height: 30px;
    width: 170px;
    line-height: 36px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip:	 padding;
    border-radius: 5px;
    background-clip: padding-box;
    padding: .5em 1.5em .7em 1.5em;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    -webkit-backface-visibility: hidden;
    position: relative;
    letter-spacing:1px;
    text-transform: uppercase;

    font-size: 1.3em;
    border: 3px solid #6696C8;
    color: #FFFFFF;
    background: #6696C8;

}
button#view-muvrs:hover {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #ffffff;
    font-size: 1.6em;
}
button#view-muvrs:focus {
    outline: none;
}


button#sign-up-as-muvr {
    display: inline-block;
    text-decoration: none;
    font-weight:900;
    height: 42px;
    width: 170px;
    /*line-height: 36px;*/
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip:	 padding;
    border-radius: 5px;
    background-clip: padding-box;
    padding: .5em 1.5em .7em 1.5em;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    zoom: 1;
    -webkit-backface-visibility: hidden;
    position: relative;
    letter-spacing:1px;
    text-transform: uppercase;

    font-size: 1.3em;
    border: 3px solid #6696C8;
    color: #FFFFFF;
    background: #6696C8;

}
button#sign-up-as-muvr:hover {
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    color: #ffffff;
    font-size: 1.6em;
}
button#sign-up-as-muvr:focus {
    outline: none;
}